/* تعريف الخط - IBM Plex Sans Arabic */
@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('../public/Fonts/IBM-A/IBMPlexSansArabic-Regular.ttf') format('woff2'),
       url('../public/Fonts/IBM-A/IBMPlexSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('../public/Fonts/IBM-A/IBMPlexSansArabic-Medium.ttf') format('woff2'),
       url('../public/Fonts/IBM-A/IBMPlexSansArabic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans Arabic';
  src: url('../public/Fonts/IBM-A/IBMPlexSansArabic-Bold.ttf') format('woff2'),
       url('../public/Fonts/IBM-A/IBMPlexSansArabic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* تطبيق الخط على المشروع بالكامل */
body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}